body {
    height: 100%;
    overflow: hidden;
}

.header img {
    width: 32%;
}

.header img:hover {
    position: relative;
    top: 10px;
    cursor: pointer;
}

.header {
    width: 20%;
    margin: auto;
    
}

#X {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}

.battlefield img {
    width: 15%;
}

#left {
    position: absolute;
    left: 20%;
    
}

#right {
    position: absolute;
    left: 164%; 
}

.battlefield {
    width: 100%;
    position: absolute;
    top: 27%;
}

p {
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
}


