body {
    height: 700px;
}

.header img {
    width: 80px;
}

.header img:hover {
    position: relative;
    top: 10px;
    cursor: pointer;
}

.header {
    width: 248px;
    margin: auto;
    padding: 0px 10px 10px 10px;
}

.battlefield img {
    height: 170px;
    display: none;
}

.battlefield {
    width: 514px;
    height: 20%;
    margin: auto;
}

p {
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
}


